body {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
ul,
ol {
  list-style: none;
}

.gallery {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.gallery-item {
  width: calc(33.33% - 10px);
  gap: 10px;
  margin-bottom: 10px;
}

.gallery-link {
  display: block;
}
.gallery-image {
  width: 100%;
  height: auto;
  display: block;
}
